{% extends "base.html" %} {% block head %} {{ super() }}
{% endblock %}{% block content %}
<div class="container_area">
      <section class="slider_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <h1>
                  YouTube Analytic <br />
                  Suite
                </h1>
                <p>
                  Summarize and analysis the youtube video which burden you in
                  knowledge transfer
                </p>
                <div class="btn-box">
                  <a href="{{ url_for('auth.signup') }}" class="btn-1"> SignUp </a>
                  <a href="{{ url_for('auth.login') }}" class="btn-2"> Login </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-lg-10 mx-auto">
                  <div class="img-box">
                    <img src="{{ url_for('static', filename= 'images/slider-img.png') }}" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </div>
        </div> -->
      </section>
      <!-- end slider section -->
    </div>
{% endblock %}