{% extends "base.html" %} {% block head %} {{ super() }}
{% endblock %}{% block content %}
<div class="hero_area">
      <!-- header section strats -->
      <header class="header_section">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container">
            <a class="navbar-brand" href="{{ url_for('auth.index') }}">
              <span>YAS</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.logout') }}">LogOut</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>

	<div class="container-fluid" id="wrapper">



					<h2>{{ "Hello " ~ username ~ "!" }} Get details on YouTube videos</h2>

					<form action="{{ url_for('get_subtitles') }}" method="POST" role="form">

						<div class="form-group">
							<div class="input-group">
							  <input name="video_link" type="text" class="form-control" placeholder="Paste your link here" aria-label="video_link" aria-describedby="add-btn">
							  <span class="input-group-btn">
								  <button type="submit" class="btn btn-default" id="video_link">GET SUBTITLES</button>
							  </span>
							</div>
						</div>
					</form>
                    <ul class="list-group t20">
						{% for text in output|reverse %}
							<li class="list-group-item">
								{{ text._id }}<p><p> {{ text.Transcript }}
                                <div class="btn-group">
                                    <a type="button" href="{{ url_for('get_summary', video_id = text._id) }}" class="btn btn-warning">
                                        SUMMARIZE
                                    </a>
                                </div>
                                <div class="btn-group">
                                    <a type="button" href="{{ url_for('analyze_sentiment', video_id = text._id) }}" class="btn btn-warning">
                                        ANALYZE
                                    </a>
                                </div>
							</li>
						{% endfor %}
					</ul>
				</div>


{% endblock %}